<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>File List</title>
    <link href="/css/msc.css" rel="stylesheet" />
  </head>
  <body>
    <div class="top-panel">
      <%- include partial/top-panel.ejs %>
    </div>
    <div class="body-panel">
      <div class="menu-panel">
        <%- include partial/menus.ejs %>
      </div>
      <div class="function-panel">
        <%- include partial/file-list.ejs %>
      </div>
    </div>
  </body>
</html>
