<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>File Manager</title>
    <link href="<%= publicHostUrl %>/css/msc.css" rel="stylesheet" />
  </head>
  <body>
    <form action="<%= publicHostUrl %>/login" method="POST">
      <div class="row">
        <label for="username">帳號</label>
        <input type="text" name="username" id="username" value="" placeholder="請輸入帳號" required>
      </div>
      <div class="row">
        <label for="password">密碼</label>
        <input type="password" name="password" id="password" value="" placeholder="請輸入密碼" required>
      </div>
      <div class="row">
        <input type="submit" value="登入">
        <input type="reset"><br>
      </div>
    </form>
  </body>
</html>
