<a class="menu <%= active_menu_id === 1 ? 'active_menu' : '' %>" href="<%= publicHostUrl %>/uploadFile">档案上传</a>
<a class="menu <%= active_menu_id === 2 ? 'active_menu' : '' %>" href="<%= publicHostUrl %>/fileList">档案清单</a>
